@using Task2Process.ViewModels
@model TopicIndexViewModel

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div>
    <a asp-action="Index" asp-controller="ForumSection">< Back to sections</a>
</div>


<h1>@Model.SectionName</h1>
<a asp-action="Create" asp-controller="Topic" asp-route-sectionId="@Model.SectionId">+ Create new topic</a>

<hr>

@foreach (var item in Model.Topics)
{
    <div class="row">
        <div class="col-md-8">
            <h2>@Html.DisplayFor(model => item.Name)</h2>
            <h4>@Html.DisplayFor(model => item.Description)</h4>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Message" asp-route-topicId="@item.Id">View messages</a> |
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @if (item.IsAuthorized)
            {
                @:|
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }

        </div>
    </div>

    <hr>
}